In [6]:
library("Iso")

Iso 0.0-17

In [1]:
#This data was from nielsen and cassa, chimp human
mx <- c(214, 262, 251, 202, 146, 98, 46, 27, 32, 10, 7, 6, 2, 3, 1, 2, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1)
#This data is from the nature paper
mx<-c(35551, 1495, 364, 109, 33, 16, 4, 2)

In [2]:
minPt = 0
#maxPt = 35
maxPt = 7

numWeights<-mx[-1]
denomWeights<-mx[-length(mx)]
InvVarEstimate<-mapply(function(x,y,z) ((z+1)^2*(x^2/y^2)*(1/x + 1/y))^(-1), numWeights, denomWeights, minPt:(maxPt-1))

In [3]:
CUTOFF = .1
#We only consider points with cutoff greater than CUTOFF
tabl<-sapply(minPt:maxPt,
               function(x) ifelse(1/InvVarEstimate[x + 1 - minPt] < CUTOFF & !is.na(InvVarEstimate[x+1-minPt]),
                                  (x+1)*mx[x + 2 - minPt] / mx[x+1-minPt], NA))

In [9]:
tabl

[1] 0.04205226 0.48695652 0.89835165 1.21100917         NA         NA         NA
[8]         NA

In [27]:
pav<-pava(tabl[!is.na(tabl)], InvVarEstimate[!is.na(tabl)], decreasing=FALSE, long.out=FALSE, stepfun=FALSE)
tabl[!is.na(tabl)]<-pav
tabl

[1] 0.04205226 0.48695652 0.89835165 1.21100917         NA         NA         NA
[8]         NA

In [29]:
#This if for the nautre paper data
tabl*25/(2* 2*10^(-8)*2*843)

#This is the sum using the nature paper data
sum(minPt:maxPt * mx)/sum(mx)


(361029-31177)*0.0745196146271358 + 31177

#compare to non npeb estimates

[1]  15588.77 180514.72 333018.85 448920.96        NA        NA        NA
[8]        NA

[1] 0.07451961

[1] 55757.44

Mu*l = 0.00001  
2Mu*l = 0.00002

In [11]:
tabl/0.00002

 [1]  61214.95  95801.53 120717.13 144554.46        NA        NA        NA
 [8]        NA        NA        NA        NA        NA        NA        NA
[15]        NA        NA        NA        NA        NA        NA        NA
[22]        NA        NA        NA        NA        NA        NA        NA
[29]        NA        NA        NA        NA        NA        NA        NA
[36]        NA

This would be generations, let's take a generation to be 30 years ???? (It will be different for humans and chimps). Also, will mutation rates be differnt for humans and chimps?  Have we measured mutation rate correctly?

In [24]:
tabl * 30/0.00001

 [1] 3672897 5748092 7243028 8673267      NA      NA      NA      NA      NA
[10]      NA      NA      NA      NA      NA      NA      NA      NA      NA
[19]      NA      NA      NA      NA      NA      NA      NA      NA      NA
[28]      NA      NA      NA      NA      NA      NA      NA      NA      NA

That gives us something between 1.5 million and 3.6 million

http://www.pnas.org/content/109/39/15716.full

In [18]:
minPt:maxPt / 0.00002 * 30

 [1]        0  1500000  3000000  4500000  6000000  7500000  9000000 10500000
 [9] 12000000 13500000 15000000 16500000 18000000 19500000 21000000 22500000
[17] 24000000 25500000 27000000 28500000 30000000 31500000 33000000 34500000
[25] 36000000 37500000 39000000 40500000 42000000 43500000 45000000 46500000
[33] 48000000 49500000 51000000 52500000

In [23]:
sum(minPt:maxPt * mx)/sum(mx)

[1] 2.737243

In [22]:
minPt:maxPt * mx

 [1]   0 262 502 606 584 490 276 189 256  90  70  66  24  39  14  30  16   0   0
[20]  19   0   0   0   0   0   0  26   0   0   0   0   0   0   0   0  35

take into consideration included in restrictive data set
look at genes that have more base pairs in nielsen than in cassa

Merged=Merged[Merged['bp'] < 20000]

Choose some L, for example 500 bp(might want to be shorter if illustrating diff with Tang), then remove all genes that have too high or too low a mutation rate.

million base pairs could be smaller.  because you’re waiting a long time for chimps and humans before they come back together.  million base pairs is for humans.

Ne for humans is 10 000


Remove N, R, Y, (X, ?) always removed.
if you’re skipping over base pairs, then recombination rate will be higher

Ralph comment, looking at some kind of average

chimp genome paper, line up chimp genome and humans genome and count all differences.  so they’re taking the average across sites.

In paper John sent, references chimp genome paper.  There are going to be whole genome estimates of divergence time between humans and chimps.

Ask Cassa
Let's say missense mutations are highly constrained.  You should just be using synon mutation rate at the genes.  It might be 2/3 of current mutation rate you are using.

chimp genome paper, line up chimp genome and humans genome and count all differences.  so they’re taking the average across sites.

If you’re looking for simply average divergence time, doesn’t it make sense to shuffle up nucleotides?  That should give you mean divergence.  and you would have a more accurate mutation rate because it would be an average.

Really the method should be used when you’re trying to measure the TMRCA of a single ancestor, no?  Or maybe it’s worth saying that it gives you about the right mean, but then that we have better results for estimating the particular time at different genes, like genes with 0, 1, 2, etc mutations.

but then because of issue of recombination, it’s somewhat equivalent to the composite idea.